.wrapper{
    display: flex;
    justify-content:space-between;
    align-items: center;
    .sort{
        button{
            text-transform: uppercase;
            margin-left: 15px;
            padding: 10px 15px;
            border-radius: 4%;
            border: none;
            background-color: var(--bordeauh);
            color: var(--white);
            letter-spacing: 1px;
        }
        button:hover{
            color: var(--turquoise);
            transition: var(--transition); 
        }
    }
    .sort-el{
        display: flex;
        margin-left: 100px;
        justify-content: space-between;
        margin-right: 10px;
        li{
            margin-right: 20px;
            input{
                margin-left: 50px;
                padding: 10px 15px;
                border-radius: 4%;
                border: none;
                background-color: var(--bordeauh);
                color: var(--white);
                letter-spacing: 1px;
                &::placeholder {
                    color:var(--white);
                }
            }
            button{
                padding: 10px 15px;
                border-radius: 4%;
                border: none;
                background-color: var(--bordeauh);
                color: var(--white);
                letter-spacing: 1px;
            }
            button:hover{
                color: var(--turquoise);
                transition:var(--transition); 
            }
        }
    }
}
.headlines{
    padding: 20px 10px;
    .headlines-wrapper{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .article-item{
            flex: 0 0 24%;
            border: 1px solid gray;
            position: relative;
            margin-bottom: 20px;
            .article-item-img{
                height:300px;
                img{
                    height:100%;
                    object-fit:cover;
                    max-width:100%;
                    width:100%;
                }
            }
            .article-item-description{
                position: absolute;
                left:0;
                bottom:0;
                height: 100px;
                width: 100%;
                background-color:var(--bordeauh);
                opacity:0.6;
                color:var(--white);
                padding-left: 5px;
                 p{
                    font-size:13px,;
                    color:var(--white);
                }
            }
            .article-item-info{
                position: absolute;
                left: 0%;
                bottom: 0%;
                padding-left: 5px;
                font-size: 12px;
                color: var(--white);
            }
            .articel-item-more{
                position: absolute;
                color:var(--white);
                right: 0%;
                bottom: 0%;
                a{
                    color: var(--white);
                    text-transform: uppercase;
                    font-size: 10px;
                    padding-right: 5px;
                    border: 1px solid var(--white);
                }
                a:hover{
                    background-color: var(--bordeauh);
                    color: var(--turquoise);
                    transition: var(--transition);
                }
            }
        }
    }
    .plagination{
        text-align: center;
    }
}

