@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --white:#fff;
  --turquoise: #74b9ff;
  --bordeauh:#471629;
  --transition: .3s ease;
}

.container{
    width: 70%;
    margin: auto;
}
body{
  font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
li{
    list-style: none;
  }
a{
  text-decoration: none;
}

.active{
  border-bottom: 3px solid white;
}


